<!DOCTYPE HTML>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <form action="/bookmarks" method="post">
      <input type="text" name="url" />
      <input type="submit" name="Submit" />
    </form>
  </body>
</html>