<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Bookmark Manager</title>
  </head>

  <body>
    <form method="post" action="/bookmarks">
      <input type="text" name="url" placeholder="Url" />
      <input type="text" name="title" placeholder="Title" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
